---
layout: page
# The Home page layout
---

{% assign pinned = site.posts | where: "pin", "true" %}
{% assign default = site.posts | where_exp: "item", "item.pin != true and item.hidden != true" %}

{% assign posts = "" | split: "" %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<!-- Get default posts -->

{% assign default_beg = offset | minus: pinned.size %}

{% if default_beg < 0 %}
  {% assign default_beg = 0 %}
{% endif %}

{% assign default_num = paginator.posts | size | minus: pinned_num  %}
{% assign default_end = default_beg | plus: default_num | minus: 1 %}

{% if default_num > 0 %}
  {% for i in (default_beg..default_end) %}
    {% assign posts = posts | push: default[i] %}
  {% endfor %}
{% endif %}

<div class="text-justify pt-3 pb-3">
  بنیاد سعدی در كنار برگزاری سالانه گردهمایی نهادهای فعال در آموزش زبان فارسی در جهان، تصمیم به توسعۀ سامانۀ شناخت­نامۀ این موسسات نیز گرفته است. به مدد این سامانه می‌توان تصویری، اگر نه جامع و کامل، از چشم‌انداز آموزش زبان فارسی به غیرفارسی‌زبانان ترسیم کرد و از کم‌و‌کیف فعالیت­های هر موسسه، اجمالاً، آگاه شد. این آگاهی برای تبادل تجربه و همکاری‌های بیشتر این موسسات و مصون‌ماندن از دوباره‌کاری مفید و لازم است. بنیاد سعدی امیدوار است بتواند با درک درست از وظیفۀ سنگین و بنیادی خود در امر آموزش زبان فارسی در جهان، با توسعۀ این سامانه، نقش خود را در پشتیبانی از نهادهای فعال در این امر، در ایران و خارج از ایران ایفا کند.
</div>

<div id="post-list">

{% for post in posts %}
    <div class="card post-preview">
        <a class="post-image" href="{{ post.url | relative_url }}">
            <img class="card-img-top" src="{{ post.image.path }}" alt="{{ post.image.alt }}" />
        </a>
        <div class="card-body">
            <a href="{{ post.url | relative_url }}">
                <h2 class="card-title">
                    {{ post.title }}
                </h2>
                <div class="post-content card-text">
                    <p>
                    {% include no-linenos.html content=post.content %}
                    {{ content | markdownify | strip_html | truncate: 200 | escape }}
                    </p>
                    <div class="post-meta text-muted d-flex">
                        <div class="mr-auto">
                
                        <!-- categories -->
                        {% if post.categories.size > 0 %}
                            <i class="far fa-folder-open fa-fw"></i>
                            <span>
                            {% for category in post.categories %}
                            {{ category }}
                            {%- unless forloop.last -%},{%- endunless -%}
                            {% endfor %}
                            </span>
                        {% endif %}
                
                        </div>
                
                        {% if post.pin %}
                        <div class="pin">
                        <i class="fas fa-thumbtack fa-fw"></i>
                        <span>{{ site.data.locales[site.lang].post.pin_prompt }}</span>
                        </div>
                        {% endif %}
                
                    </div> <!-- .post-meta -->
                </div>
            </a>
        </div>
        </a>
    </div> <!-- .post-review -->

{% endfor %}

</div> <!-- #post-list -->

{% if paginator.total_pages > 10 %}
  {% include post-paginator.html %}
{% endif %}
